<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
<h1 style="text-align: center">PC Part World</h1>
<hr>
<p>Welcome to PC Part World!</p>
<br>
<p>At PC Part World, we are more than just a company; we're a community of tech enthusiasts dedicated to crafting the perfect PC for every user. With a passion for innovation and a commitment to quality, we provide a one-stop destination for all your PC building needs.</p>
<br>
<p>At PC Part World, we believe in the power of customization and the freedom to create. Join us and discover the endless possibilities of PC building.</p>
<br>
<p>Welcome to the world of limitless computing!</p>
<a href="http://localhost:8080/">Link
    to Main Screen</a>
</body>
</html>